<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>View</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <h3>Show Input</h3>
        <hr>
        
        
        <p> NamaBuah = <td th:text="${namabuah}"><br>
        <p> HargaPerkilo = <td th:text="${hargakiloan}"><br>
        <p> JumlahBeli = <td th:text="${jumlah}"><br>
        <p> Hitungan = <td th:text="${hitung}"><br>
        <p> Diskon = <td th:text="${potongan}"><br>
        <p> Harga = <td th:text="${total}"></td>
    </body>
</html>
